<!-- Navigation -->
<div>
    <div class="row">
            <div class="col-sm-2 text-center">
                <div class="symptom"><strong>Date From</strong></div> 
                <div class="form-group col-centered">
                    <datepicker date-format="MM/dd/yyyy" date-max-limit={{searchCriteria.endDate}} 
                    date-set={{searchCriteria.startDate}}
                    button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>">
                        <input type="text" ng-model="searchCriteria.startDate"  class="form-control">
                    </datepicker>
                </div>
            </div>
            <div class="col-sm-2 text-center">
                <div class="symptom"><strong>Date To</strong></div> 
                <div class="form-group col-centered">
                    <datepicker date-format="MM/dd/yyyy" date-min-limit={{searchCriteria.startDate}} date-set={{searchCriteria.endDate}} button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>">
                        <input type="text" ng-model="searchCriteria.endDate"  class="form-control" >
                    </datepicker>
                </div>
            </div>
            <div class="col-sm-2 text-center">
                <div class="symptom"><strong>Search Term</strong></div> 
                <div class="form-group col-centered">
                    <input class="form-control" type="text" ng-model="searchCriteria.keyTerm"/>
                </div>
            </div>
            <div class="col-sm-3 text-center">
                <div class="symptom"><strong>Recall Type</strong></div>    
                <div class="form-group col-centered">
                    <multi-select
                        name="recall_select"
                        values="availableRecall"
                        model="searchCriteria.selectedRecall"
                        show-filters="true"
                        value-field="code"
                        label-field="name"
                    ></multi-select>
                </div>
            </div>
            <div class="col-sm-3 text-center">
                <div class="symptom"><strong>Select State(s)</strong></div> 
                <div class="form-group col-centered">
                    <multi-select
                        name="state_select"
                        values="availableStates"
                        model="searchCriteria.states"
                        show-filters="true"
                        value-field="code"
                        label-field="name"
                    ></multi-select>
                </div>
            </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <a class="btn btn-primary" ng-click="searchData()">Search</a>
            <div class="page-header3 text-center">Product Recalls by General Area of Initial Distributions</div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <strong>Total [{{products.meta.results.total}}] Recall for: </strong>  
                    <span ng-repeat="x in searchCriteria.selectedRecall">
                        {{x.name}}<span ng-if="!$last">, </span>
                    </span> 
                    between {{formatDate(searchCriteria.startDate) |  date:"MM/dd/yyyy" }} - {{formatDate(searchCriteria.endDate) |  date:"MM/dd/yyyy" }}, 
                    <strong>Search Term: </strong>
                    <span ng-if="searchCriteria.keyTerm == ''"> None </span>
                    <span ng-if="searchCriteria.keyTerm != ''"> {{searchCriteria.keyTerm}} </span>
                    <br>
                    <strong>State(s):</strong> 
                    <span ng-repeat="y in searchCriteria.states">
                        {{y.name}}<span ng-if="!$last">, </span>
                    </span> 
                    <br><br>
                    
                    <div class="table-responsive">
                        <table class="table-hover">
                            <thead>
                                <tr class="headerrow">
                                    <th width="12%"> Recall Date </th>
                                    <th width="19%"> Recalling Firm </th>
                                    <th width="23%"> Recall Reason</th>
                                    <th width="23%"> Product Description</th>
                                    <th width="23%"> Code Info</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="y in products.results" id="{{y.event_details.event_id}}" style="vertical-align:top;">
                                <td >{{ createDate(y.recall_initiation_date) |  date:"MM/dd/yyyy"}} <a href="#detailsPage" ng-click="showDetails(y)"> - Details </a></td>
                                <td>{{ y.recalling_firm }}</td>
                                <td title="{{ y.reason_for_recall }}">{{ y.reason_for_recall | limitTo:35}} <span ng-if="y.reason_for_recall.length>35" class="dotdotdot"> ... </span></td>
                                <td title="{{ y.product_description }}">{{ y.product_description | limitTo:35}} <span ng-if="y.product_description.length>35" class="dotdotdot"> ... </span></td>
                                <td title="{{ y.code_info }}">{{ y.code_info | limitTo:30}} <span ng-if="y.code_info.length>35" class="dotdotdot" style="vertical-align:top;"> ... </span> </td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                   <!--div class="text-right countnav"><< <a href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">5</a> 6 >></div-->
              </div>
              <!-- panel-body-->
            </div>
            <!-- panel panel-default -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- row -->
</div>

    <!-- Responsive Table CSS -->
    <link href="/css/responsive-table.css" rel="stylesheet">
