<!-- Navigation -->
<div>
    <div class="row">
            <div class="col-sm-2 text-center">
                <div class="symptom"><strong>Date From</strong></div> 
                <div class="form-group col-centered">
                    <datepicker date-format="MM/dd/yyyy" date-max-limit={{searchCriteria.endDate}} 
                    date-set={{searchCriteria.startDate}}
                    button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>">
                        <input type="text" ng-model="searchCriteria.startDate"  class="form-control">
                    </datepicker>
                </div>
            </div>
            <div class="col-sm-2 text-center">
                <div class="symptom"><strong>Date To</strong></div> 
                <div class="form-group col-centered">
                    <datepicker date-format="MM/dd/yyyy" date-min-limit={{searchCriteria.startDate}} date-set={{searchCriteria.endDate}} button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>">
                        <input type="text" ng-model="searchCriteria.endDate"  class="form-control" >
                    </datepicker>
                </div>
            </div>
            <div class="col-sm-2 text-center">
                <div class="symptom"><strong>Search Term</strong></div> 
                <div class="form-group col-centered">
                    <input class="form-control" type="text" ng-model="searchCriteria.keyTerm"/>
                </div>
            </div>
            <div class="col-sm-3 text-center">
                <div class="symptom"><strong>Recall Type</strong></div>    
                <div class="form-group col-centered">
                    <multi-select
                        name="recall_select"
                        values="availableRecall"
                        model="searchCriteria.selectedRecall"
                        show-filters="true"
                        value-field="code"
                        label-field="name"
                    ></multi-select>
                </div>
            </div>
            <div class="col-sm-3 text-center">
                <div class="symptom"><strong>Select State(s)</strong></div> 
                <div class="form-group col-centered">
                    <multi-select
                        name="state_select"
                        values="availableStates"
                        model="searchCriteria.states"
                        show-filters="true"
                        value-field="code"
                        label-field="name"
                    ></multi-select>
                </div>
            </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <a class="btn btn-primary" ng-click="searchData()">Search</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
              <h1 class="page-header text-center">Product Recalls by General Area of Initial Distributions</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5> 
                        <p><strong>Recall for: </strong>  <span ng-repeat="x in searchCriteria.selectedRecall">
                                {{x.name}}<span ng-if="!$last">, </span>
                            </span> between {{formatDate(searchCriteria.startDate) |  date:"MM/dd/yyyy" }} - {{formatDate(searchCriteria.endDate) |  date:"MM/dd/yyyy" }}</p>
                        
                        <p><strong>State(s):</strong> 
                            <span ng-repeat="y in searchCriteria.states">
                                {{y.name}}<span ng-if="!$last">, </span>
                            </span> 
                        </p>
                        <p><strong>Search Term: </strong>{{searchCriteria.keyTerm}}
                        <div class="row">
                            <div class="col-xs-6">
                                <strong>Total Results </strong> [{{products.meta.results.total}}]
                            </div>
                            <div class="col-xs-6 text-right">
                                Please select a row to view details.
                            </div>
                        </div>
                    </h5>
                    <div class="table-responsive">
                        <table class="table-hover">
                            <thead>
                                <tr class="headerrow">
                                    <th width="10%"> Recall<br>
                                        Date </th>
                                    <th width="10%">
                                        Recalling<br>
                                      Firm </th>
                                    <th width="25%">
                                        Reason for<br>
                                      Recall</th>
                                    <th width="25%">
                                        Product<br>
                                      Description</th>
                                    <th width="30%">
                                        Code<br>
                                      Info</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="y in products.results" id="{{y.event_details.event_id}}">
                                <td><a href="#detailsPage" ng-click="showDetails(y)">{{ createDate(y.recall_initiation_date) |  date:"MM/dd/yyyy"}}</a></td>
                                <td>{{ y.recalling_firm }}</td>
                                <td title="{{ y.reason_for_recall }}">{{ y.reason_for_recall | limitTo:150}} <span ng-if="y.reason_for_recall.length>150" class="dotdotdot"> <br/>... </span></td>
                                <td title="{{ y.product_description }}">{{ y.product_description | limitTo:150}} <span ng-if="y.product_description.length>150" class="dotdotdot"> <br/>... </span></td>
                                <td title="{{ y.code_info }}">{{ y.code_info | limitTo:150}} <span ng-if="y.code_info.length>150" class="dotdotdot"> <br/>... </span> </td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                   <!--div class="text-right countnav"><< <a href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">5</a> 6 >></div-->
              </div>
              <!-- panel-body-->
            </div>
            <!-- panel panel-default -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- row -->
</div>

    <!-- Responsive Table CSS -->
    <link href="/css/responsive-table.css" rel="stylesheet">
