<div>
    <div class="row">
        <div class="col-sm-3 text-center">
            <div class="symptom"><strong>Date From</strong></div> 
            <div class="form-group col-centered">
                <datepicker date-format="MM/dd/yyyy" date-max-limit={{searchCriteria.endDate}} 
                date-set={{searchCriteria.startDate}}
                button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>">
                    <input type="text" ng-model="searchCriteria.startDate"  class="form-control" readonly="true">
                </datepicker>
            </div>
        </div>
        <div class="col-sm-3 text-center">
            <div class="symptom"><strong>Date To</strong></div> 
            <div class="form-group col-centered">
                <datepicker date-format="MM/dd/yyyy" date-min-limit={{searchCriteria.startDate}} date-set={{searchCriteria.endDate}} button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>">
                    <input type="text" ng-model="searchCriteria.endDate"  class="form-control" readonly="true">
                </datepicker>
            </div>
        </div>
        <div class="col-sm-3 text-center">
            <div class="symptom"><strong>Search Term</strong></div> 
            <div class="form-group col-centered">
                <input class="form-control" type="text" ng-model="searchCriteria.keyTerm"/>
            </div>
        </div>
        <div class="col-sm-3 text-center">
            <div class="symptom"><strong>Recall Type</strong></div>    
            <div class="form-group col-centered">
                <multi-select
                    name="recall_select"
                    values="availableRecall"
                    model="searchCriteria.selectedRecall"
                    show-filters="true"
                    value-field="code"
                    label-field="name"
                ></multi-select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <a class="btn btn-primary" ng-click="searchData()">Search</a>
            <div class="page-header3 text-center">Product Recalls by General Area of Initial Distributions</div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
              <div class="panel panel-default">
                <div class="panel-body text-left">

                    <div class="row">
                        <div class="col-sm-4">
                            <strong>Recall for: </strong>  
                            <span ng-repeat="x in searchCriteria.selectedRecall">
                                <span ng-if="x.code == 'food'">
                                    <i class="fa fa-cutlery" title="Food"></i>
                                    {{x.name}}
                                </span>
                                <span ng-if="x.code == 'drug'">
                                    <i class="fa fa-eyedropper" title="Drug"></i>
                                    {{x.name}}
                                </span>
                                <span ng-if="x.code == 'device'">
                                    <i class="fa fa-medkit" title="Device"></i>
                                    {{x.name}}
                                </span>
                                <span ng-if="!$last">, </span>
                            </span> 
                        </div>
                        <div class="col-sm-4">
                            <strong>Date Range: </strong> {{formatDate(searchCriteria.startDate) |  date:"MM/dd/yyyy" }} - {{formatDate(searchCriteria.endDate) |  date:"MM/dd/yyyy" }} 
                        </div>
                        <div class="col-sm-4">
                            <strong>Search Term: </strong>
                            <span ng-if="searchCriteria.keyTerm == ''"> None </span>
                            <span ng-if="searchCriteria.keyTerm != ''"> {{searchCriteria.keyTerm}} </span>
                            <br>
                        </div>
                    </div>
                    Please click on a state to view detail recall listing.
                    <div id='regions_div' style="width:100%, height:100%"></div>
                    <strong>Nationwide* Recall for: </strong>  
                            <span ng-repeat="x in searchCriteria.selectedRecall">
                                <span ng-if="x.code == 'food'">
                                    <i class="fa fa-cutlery" title="Food"> </i>
                                    {{x.name}} [{{nationalFoodNumbers}}]
                                </span>
                                <span ng-if="x.code == 'drug'">
                                    <i class="fa fa-eyedropper" title="Drug"> </i>
                                    {{x.name}} [{{nationalDrugNumbers}}]
                                </span>
                                <span ng-if="x.code == 'device'">
                                    <i class="fa fa-medkit" title="Device"> </i>
                                    {{x.name}} [{{nationalDeviceNumbers}}]
                                </span>
                                <span ng-if="!$last">, </span>
                            </span>
                    <br>
                    *Please note that nationwide specific initial distribution states for nationwide recalls cannot be determined.
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    