<div>
    <div class="row">
        <div class="col-sm-3 text-center">
            <div class="symptom"><strong>Date From</strong></div> 
            <div class="form-group col-centered">
                <datepicker date-format="MM/dd/yyyy" date-max-limit={{searchCriteria.endDate}} 
                date-set={{searchCriteria.startDate}}
                button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>">
                    <input type="text" ng-model="searchCriteria.startDate"  class="form-control">
                </datepicker>
            </div>
        </div>
        <div class="col-sm-3 text-center">
            <div class="symptom"><strong>Date To</strong></div> 
            <div class="form-group col-centered">
                <datepicker date-format="MM/dd/yyyy" date-min-limit={{searchCriteria.startDate}} date-set={{searchCriteria.endDate}} button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>">
                    <input type="text" ng-model="searchCriteria.endDate"  class="form-control">
                </datepicker>
            </div>
        </div>
        <div class="col-sm-3 text-center">
            <div class="symptom"><strong>Key Term</strong></div> 
            <div class="form-group col-centered">
                <input class="form-control" type="text" ng-model="searchCriteria.keyTerm"/>
            </div>
        </div>
        <div class="col-sm-3 text-center">
            <div class="symptom"><strong>Recall Type</strong></div>    
            <div class="form-group col-centered">
                <multi-select
                    name="recall_select"
                    values="availableRecall"
                    model="searchCriteria.selectedRecall"
                    show-filters="true"
                    value-field="code"
                    label-field="name"
                ></multi-select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <a class="btn btn-primary" ng-click="searchData()">Search</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
              <h1 class="page-header text-center">Product Recalls by General Area of Initial Distributions</h1>
              <h5 style="color:white;" class="text-center"> 
                        <p><strong>Recall for: </strong> <span ng-repeat="x in searchCriteria.selectedRecall">
                                {{x.name}}<span ng-if="!$last">, </span> </span> between {{formatDate(searchCriteria.startDate) |  date:"MM/dd/yyyy" }} - {{formatDate(searchCriteria.endDate) |  date:"MM/dd/yyyy" }}</p>
                        <p><strong>Key Term: </strong>{{searchCriteria.keyTerm}}
               </h5>
               <div class="nationwide text-center">
                Nationwide 
                <span ng-repeat="y in searchCriteria.selectedRecall">
                    <button type="button" class="btn btn-state1" ng-if="y.code == 'food'">
                        {{y.name}} - {{nationalFoodNumbers}}
                    </button>
                    <button type="button" class="btn btn-state2" ng-if="y.code == 'drug'">
                        {{y.name}} - {{nationalDrugNumbers}}
                    </button>
                    <button type="button" class="btn btn-state3" ng-if="y.code == 'device'">
                        {{y.name}} - {{nationalDeviceNumbers}}
                    </button>
                </span>
                Specific initial distribution states for Nationwide recalls cannot be determined.</div>
                <h5 style="color:white;" class="text-center"> 
                    Please click on a state to view detail recall listing.
                </h5>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div id='regions_div' style="width:100%, height:100%"></div>