<!-- Navigation -->
<div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div>    
            <div class="col-sm-2 text-center">
                <div class="symptom"><strong>Date Range</strong></div> 
                <div class="form-group col-centered">
                    <input date-range-picker class="form-control date-picker" type="text" ng-model="searchCriteria.dateRange" options="opts" style="min-width: 190px;"/>
                </div>
            </div>
            <div class="col-sm-3 text-center">
                <div class="symptom"><strong>Select type of recall</strong></div>    
                <div class="form-group col-centered">
                    <ui-select ng-model="searchCriteria.recallType" theme="select2" ng-disabled="disabled" style="min-width: 300px;">
                        <ui-select-match placeholder="Select a recall type...">{{searchCriteria.recallType.name}}</ui-select-match>
                        <ui-select-choices repeat="recall in availableRecall | propsFilter: {name: $select.search}">
                          <div ng-bind-html="recall.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="col-sm-3 text-center">
                <div class="symptom"><strong>Select 1 or more state(s)</strong></div> 
                <div class="form-group col-centered">
                    <ui-select multiple ng-model="searchCriteria.states" theme="select2" ng-disabled="disabled" style="width: 300px;">
                        <ui-select-match placeholder="Select states...">{{$item.name}}</ui-select-match>
                        <ui-select-choices repeat="state in availableStates | filter:$select.search">
                          {{state.name}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="col-sm-2 text-center">
                <br>
                <a class="btn btn-primary" ng-click="searchData()">Search</a> 
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row">
        <div class="col-lg-12">
              <h1 class="page-header text-center">Product Recalls by General Area of Initial Distributions</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5> 
                        <p><strong>Recall for: </strong> {{searchCriteria.recallType.name}} between {{formatDate(searchCriteria.dateRange.startDate) |  date:"MM/dd/yyyy" }} - {{formatDate(searchCriteria.dateRange.endDate) |  date:"MM/dd/yyyy" }}</p>
                        
                        <p><strong>State(s):</strong> <span ng-repeat="x in searchCriteria.states">{{x.code}},  </span> </p>
                        <div class="row">
                            <div class="col-xs-6">
                                <strong>Total Results </strong> [{{products.meta.results.total}}]
                            </div>
                            <div class="col-xs-6 text-right">
                                Please select a row to view details.
                            </div>
                        </div>
                    </h5>
                    <h5>  </h5>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr class="headerrow">
                                    <th width="10%"> Recall<br>
                                        Date </th>
                                    <th width="10%">
                                        Recalling<br>
                                      Firm </th>
                                    <th width="25%">
                                        Reason for<br>
                                      Recall</th>
                                    <th width="25%">
                                        Product<br>
                                      Description</th>
                                    <th width="30%">
                                        Code<br>
                                      Info</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="y in products.results" ng-click="showDetails(y, 'detailsPage')" id="{{y.event_details.event_id}}">
                                <td>{{ createDate(y.recall_initiation_date) |  date:"MM/dd/yyyy"}}</td>
                                <td>{{ y.recalling_firm }}</td>
                                <td title="{{ y.reason_for_recall }}">{{ y.reason_for_recall | limitTo:150}} <span ng-if="y.reason_for_recall.length>150" class="dotdotdot"> <br/>... </span></td>
                                <td title="{{ y.product_description }}">{{ y.product_description | limitTo:150}} <span ng-if="y.product_description.length>150" class="dotdotdot"> <br/>... </span></td>
                                <td title="{{ y.code_info }}">{{ y.code_info | limitTo:150}} <span ng-if="y.code_info.length>150" class="dotdotdot"> <br/>... </span> </td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                   <!--div class="text-right countnav"><< <a href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">5</a> 6 >></div-->
              </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>