  <div class="row">
        <div class="col-sm-3">

        </div>
        <div>
                <div class="col-sm-2 text-center">
                <div class="symptom"><strong>Pick a Range</strong></div>
                <div class="form-group col-centered">
                    <input date-range-picker class="form-control date-picker" type="text" ng-model="dateRange" options="opts"/>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <div class="symptom"><strong>Select type of recall</strong></div>   
                <div class="form-group col-centered">
                	<div class="col-sm-2 text-center">
                <div class="form-group col-centered">
                    <div class="symptom">
                    	<strong>Drug </strong>
                    	<input type="checkbox" ng-model="searchCriteria.drug" ng-true-value="'drug'" ng-false-value="''"></input>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 text-center">
                <div class="form-group col-centered">
                    <div class="symptom">
                    	<strong>Device </strong>
                    	<input type="checkbox" ng-model="searchCriteria.device" ng-true-value="'device'" ng-false-value="''"></input>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 text-center">
                <div class="form-group col-centered">
                    <div class="symptom">
                    	<strong>Food </strong>
                    	<input type="checkbox" ng-model="searchCriteria.food" ng-true-value="'food'" ng-false-value="''"></input>
                    </div>
                </div>
            </div>
                </div>
            </div>
            
            <div class="col-sm-3"></div>
        </div>
        <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"> 
                <p>Date Range: {{formatDate(dateRange.startDate) |  date:"MM/dd/yyyy" }} - {{formatDate(dateRange.endDate) |  date:"MM/dd/yyyy" }}</p>
                <p>Nationwide Totals: {{products.meta.results.total}}</p>
            </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="nationwide text-center">
                Nationwide 
                <button type="button" class="btn btn-state1">Device - 30</button> 
                <button type="button" class="btn btn-state2">Drug - 200</button> 
                <button type="button" class="btn btn-state3">Food - 600</button> 
                Specific initial distribution states for Nationwide recalls cannot be determined.</div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

<div class="row">
        <div class="col-sm-1 text-center">
</div>
     <div id="visualization" class="col-sm-8 text-center" google-chart chart="chart" on-select="dothis(selectedItem)"></div>

     <div class="col-sm-3 text-center">
        <h1 class="page-header"> 
        State Name:   {{selectedElement[0]}}
        Total Recall: {{selectedElement[1]}}</h1>
     </div>
     
</div>
