<!DOCTYPE html>
<html lang="en" ng-app="searchApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Vencore</title>

    <!-- Bootstrap Core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Angular Select CSS -->
    <link href="/bower_components/angular/select.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Select2 theme -->
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">

  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
    body {
      padding: 15px;
    }

    .select2 > .select2-choice.ui-select-match {
      /* Because of the inclusion of Bootstrap */
      height: 29px;
    }

    .selectize-control > .selectize-dropdown {
      top: 36px;
    }
  </style>

</head>

<body id="page2" ng-controller="SearchController">
<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a  href="#page-top"><img src="/img/logo_vencore_page.jpg" alt="Vencore"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="../page2">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/pages/searchPage.html">Search</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    
    <div id="wrapper">

        <!-- Navigation -->
        <div>
            <div class="row">
                <div class="col-sm-2"></div>
            	<div>    
                    <div class="col-sm-3 text-center">
                        <div class="symptom"><strong>Select type of recall</strong></div>    
                        <div class="form-group col-centered">
                            <ui-select ng-model="searchCriteria.recallType.selected" theme="select2" ng-disabled="disabled" style="min-width: 300px;">
                                <ui-select-match placeholder="Select a recall type...">{{searchCriteria.recallType.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="recall in availableRecall | propsFilter: {name: $select.search}">
                                  <div ng-bind-html="recall.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-sm-3 text-center">
                        <div class="symptom"><strong>Select 1 or more state(s)</strong></div> 
                        <div class="form-group col-centered">
                            <ui-select multiple ng-model="searchCriteria.states" theme="select2" ng-disabled="disabled" style="width: 300px;">
                                <ui-select-match placeholder="Select states...">{{$item.name}}</ui-select-match>
                                <ui-select-choices repeat="state in availableStates | filter:$select.search">
                                  {{state.name}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <form role="form">
                <div class="col-sm-2 text-center"> 
                    <br />
                     <a class="btn btn-primary" ng-click="searchData()">Search</a> 
                </div>
            </form>
                <div class="col-sm-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"> 
                        <p>Selected State(s): <span ng-repeat="x in searchCriteria.states">{{x.name}},  </span> </p>
                        <p>Selected Recall Type: {{searchCriteria.recallType.selected.name}} </p>
                        <p>Total Results [{{products.meta.results.total}}]</p>
                    </h1>
                </div>
                        <!-- /.col-lg-12 -->
                        </div>
                        <!-- /.row -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <h3>Summary</h3>
                                        <p>See below for search results.</p>
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped table-hover">
                                                <thead>
                                                    <tr class="headerrow">
                                                        <th>Recall<br>
                                                        Date<small></small> <label for="textfield"></label></th>
                                                        <th>
                                                            Product<br>
                                                          Description</th>
                                                        <th>
                                                            Code<br>
                                                          Info </th>
                                                        <th>
                                                            Recalling<br>
                                                          Firm </th>
                                                    </tr>
                                                </thead>
                                                <tr ng-repeat="y in products.results" >
                                                    <td>{{ y.recall_initiation_date }}</td>
                                                    <td>{{ y.product_description }}</td>
                                                    <td>{{ y.code_info }}</td>
                                                    <td>{{ y.recalling_firm }}</td>
                                                </tr>
                                            </table>
                                        </div>
                                       <!--div class="text-right countnav"><< <a href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">5</a> 6 >></div-->
                                  </div>
                                </div>
                            </div>
                            <!-- /.col-lg-12 -->
                        </div>
                        <!-- /.row -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <h3>Details</h3>
                                            <div class="table-responsive">
                                                <table class="table table-bordered  table-hover">
                                                    <tbody>
                                                        <tr>
                                                            <th width="16%" class="headerrow">Recall Date: </th>
                                                            <td width="84%">xyz</td>
                                                        </tr>
                                                        <tr>
                                                            <th height="41" class="headerrow">Product Description: </th>
                                                            <td>xyz</td>
                                                        </tr>
                                                        <tr>
                                                          <th class="headerrow">Code Info: </th>
                                                          <td>xyz</td>
                                                        </tr>
                                       
                                                        <tr>
                                                          <th class="headerrow">Recalling Firm: </th>
                                                          <td>xyz</td>
                                                        </tr>
                                                        <tr>
                                                          <th class="headerrow">Class: </th>
                                                          <td>xyz</td>
                                                        </tr>
                                                        <tr>
                                                          <th class="headerrow">Reason for Recall: </th>
                                                          <td>xyz</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.col-lg-12 -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /#page-wrapper -->
                    </div>
                    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/js/sb-admin-2.js"></script>

    <!-- angular -->
    <script src= "/bower_components/angular/angular.min.js"></script>

    <script src= "/bower_components/angular/angular-route.js"></script>

    <script src= "/bower_components/angular/select.js"></script>

    <script src= "/bower_components/angular/angular-sanitize.js"></script>

    <script src= "/static/js/search.js"></script>

</body>

</html>